@model ccMVCTesting.Model.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginalEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedAttempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedAttempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultCurrencyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultCurrencyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalCountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalCountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginCountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginCountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastFailedCountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastFailedCountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
